html {
  font-family: "Roboto";
  background-color: #f0f0f0;
}

#main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

.tile {
  background-color: lightseagreen;
  font-size: 7em;
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
}

#container {
  display: block;
  text-align: center;
}

#reset {
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
}